tr, td, th, table {
    border: 1px solid black;
    border-spacing: 0px;
    border-radius: 15px;
}

tr:nth-child(odd){
    background-color: lightgray;
}



tr td {
    text-align: center;
}

.color, .color td, .color th{
    border: 2px solid green;
    border-radius: 10px;
    width: 50vh;
}

.color th{
    font-size: 1.5em;
}

.color td{
    border: 1px dashed tomato ;
    
}

